<!DOCTYPE html>
<html ng-app="petApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/ui-bootstrap-tpls-1.3.3.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <!--tab functionality-->
    <div ng-controller="TabsController">
      <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}">
          <div ng-include="tab.content"></div>
        </uib-tab>
      </uib-tabset>
    </div>

</body>
</html>
