/* prevents unwanted route changes caused by issue with adding empty href attributes to link tags in AngularJS */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

body {
  font-family: Tahoma;
}

/*tab styling*/
form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

/*pet images size*/
img {
  width: 200px;
}

.jumbotron {
  background-color: rgb(180,163,131);
}

.jumbotron .welcome {
  font-size: 50px;
  text-align: center;
  margin-top: -1%;
  margin-bottom: 2%;
}

/*style welcome message explaining how to use app*/
.jumbotron p {
  font-size: 20px;
  text-align: center;
  margin: 1% 15%;
}

.jumbotron img {
  margin-left: 33%;
  margin-bottom: 2%;
  width: 35%;
  border-radius: 20%;
}

.footer p {
  margin-top: -1px;
  text-align: center;
}

/*styling for Add Pet form*/
form {
  border: 1px solid black;
  padding: 2%;
  margin: 5% 30%;
  background-color: rgb(180,163,131);
  font-size: 16px;
}

form button {
  margin-left: 43%;
}

/*styling for table displaying all pets in db*/
table {
  margin: 2% auto;
  table-layout: fixed;
  font-size: 16px;
}

/*set different background color for header row in table so it stands out*/
table tr:first-child th {
  background-color: rgb(180,163,131);
}

/*position Refresh Database button*/
#viewPetsButton {
  margin-left: 47%;
  margin-top: 3%;
}
