/* prevents unwanted route changes caused by issue with adding empty href attributes to link tags in AngularJS */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

body {
  font-family: Tahoma;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

img {
  width: 200px;
}

.jumbotron {
  background-color: rgb(180,163,131);
}

.jumbotron .welcome {
  font-size: 50px;
  text-align: center;
  margin-top: -1%;
  margin-bottom: 2%;
}

.jumbotron p {
  font-size: 20px;
  text-align: center;
  margin: 1% 15%;
}

.jumbotron img {
  margin-left: 32%;
  margin-bottom: 2%;
  width: 35%;
}

.footer p {
  margin-top: -1px;
  text-align: center;
}

form {
  border: 1px solid black;
  padding: 2%;
  margin: 5% 30%;
  background-color: rgb(180,163,131);
  font-size: 16px;
}

form button {
  margin-left: 43%;
}
