<!-- <div ng-controller="HomeController"> -->

<div class="jumbotron">
  <p class="welcome">Home is where my dog is.</p>
<!-- </div> -->

  <img src="https://s32.postimg.org/ovxqbp3it/12346507_10209082441798410_7604546114338964491_n.jpg">

  <p>Welcome to your personal pet database! It's very simple to use. Navigate to the tabs at the top of the page to either add a new pet to your database or view the pets in your database!</p>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright &copy; Bethany Johnson | 2016</p>
  </div>
</footer>
