<!--html for View Pets tab-->
<div ng-controller="PetController" ng-init="getPets()">
  <button type="button" name="viewPetsButton" ng-click="getPets()">Refresh View</button>
  <!--display to DOM all pets in array of pet objects from petsdb-->
  <!-- <uib-tab title="View Pets" ng-click="getPets()"></uib-tab> -->
  <table class="table table-striped">
    <tr>
      <th>Pet's Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="pet in allPets">
      <td>{{pet.name}}</td>
      <td>{{pet.animal_type}}</td>
      <td>{{pet.age}}</td>
      <td><img ng-src="{{pet.image_url}}"/></td>
      <td><button type="button" name="deleteButton">Delete Pet</button></td>
    </tr>
  </table>
</div>
